

#main-header {
  background: url('../../../assets/Assets/Footer_and_Header/header2.PNG');
  text-align: center;
height:235px;
width:100%;
color: #fff;
}
.right_logo img{
width: 40px;
height: 40px;
margin-right: 75%;
border-bottom: 3px solid #fff;
border-bottom: 3px solid #fff;
}
.header_center{
  padding-left: 5%;
}
p{
padding-top: 2%;
  font-size: small;
  line-height: .1;

}

#navbarNav{
  margin-left: 6%;
}
.nav-link{
  color: #fff;
}
.center_logo{
  margin-top: 13%;
  width: 70px;
}
