<footer id="main-footer">
  <div class="container">
    <div class="row">
          <!-- -------------------------left (About Us)----------------------------- -->
          <div class="col-md-4 col-sm-6  col-xs-12 right_logo ">
            <h4>About Us</h4>
            <pre>Our Histroy   How we Work    Resources</pre>
            <img class="center_logo" src='../../../assets/Assets/PNG images/App.PNG'>
            <img class="center_logo" src='../../../assets/Assets/PNG images/play.PNG'>

          </div>
       <!-- -------------------------center ( logo)----------------------------- -->

       <div class="col-md-4 col-sm-6  col-xs-12 header_center">
        <img class="center_logo" src='../../../assets/Assets/Footer_and_Header/White Logo 100x100.svg'>
        <img class="center_logo" src='../../../assets/Assets/icons/facebook.svg'>
     </div>

      <!-- -------------------------Right ---------------------------- -->
      <div class="col-md-4 col-sm-6  col-xs-12 right_footer ">
     <h4>Soudi Arabia</h4>
     <p>jedah Sultan St.liylan tower2 11th floor</p>
     <pre> <b>Email</b>:hello@forAll.com  <b>Office</b>:+00123456789</pre>
      </div>
    </div>
  </div>
</footer>
