<footer id="main-footer">
  <div class="container">
    <div class="row">
          <!-- -------------------------left (About Us)----------------------------- -->
          <div class="col-md-4 col-sm-6  col-xs-12 right_logo ">
            <h5>About Us</h5>
            <p>Our Histroy  &nbsp;&nbsp; How we Work &nbsp;&nbsp;   Resources</p>
            <img class="left_logo" src='../../../assets/Assets/PNG images/App.PNG'>
            <img class="left_logo" src='../../../assets/Assets/PNG images/play.PNG'>

          </div>
       <!-- -------------------------center ( logo)----------------------------- -->

       <div class="col-md-4 col-sm-6  col-xs-12 header_center">
        <img class="center_logo" src='../../../assets/Assets/Footer_and_Header/White Logo 100x100.svg'>
        <h6>FORALL</h6>
        <div class="icons">
          <img class="center_icons" src='../../../assets/Assets/icons/icons8-facebook-50.png'>
          <img class="center_icons" src='../../../assets/Assets/icons/icons8-linkedin-48.png'>
          <img class="center_icons" src='../../../assets/Assets/icons/icons8-twitter-circled-50.png'>
          <img class="center_icons" src='../../../assets/Assets/icons/icons8-instagram-64.png'>

        </div>


     </div>

      <!-- -------------------------Right ---------------------------- -->
      <div class="col-md-4 col-sm-6  col-xs-12 right_footer ">

     <h5>  <img class="right_icon" src='../../../assets/Assets/icons/icons8-location-50.png'> Soudi Arabia</h5>
     <p>jedah Sultan St.liylan tower2 11th floor</p>
     <pre><b>Email</b>:hello@forAll.com <b>Office</b>:+00123456789</pre>
      </div>
    </div>
  </div>
</footer>
