.container{
width: 90%;
margin: auto;
margin-bottom: 8%;
margin-top: 5%;
}
.left img{
  width: 500px;
  padding-left: 15%;
}
.right{
  padding-left: 10%;
  margin-top: 4%;
}
h1{
  color:  rgb(36, 136, 136);
}
button{
  background-color: rgb(36, 136, 136);
  border-radius: 100px 100px 100px 100px;
  border: none;
  color: #fff;
  padding: 3% 8%;
  margin-top: 3%;
}
