<div class="container">
    <div class="row">
         <!-- -------------------------right ----------------------------- -->
      <div class="col-md-6  col-xs-12 right ">
       <h1> We Fill Your Gap</h1>
      <p>We Are ready to bring you all your needs <br>
        anywhere at time through our useful <br>
         mobile apllication .NO need to waste <br>
          time You are one click away.

      </p>
      <button type="submit"> Install Now</button>
      </div>
         <!-- -------------------------left ----------------------------- -->
      <div class="col-md-6  col-xs-12 left ">
        <img src='../../../assets/Assets/PNG images/Gap.PNG'>
      </div>


      </div>
      </div>
