.container{
  width: 90%;
  margin: auto;
  margin-bottom: 17%;
  margin-top: 12%;
  }
  .right img{
    width: 510px;
    padding-right: 10%;
  }
  .left{
    padding-left: 14%;
    margin-top: 4%;
  }
