.container{
  width: 90%;
  margin: auto;
  margin-bottom: 17%;
  margin-top: 12%;
  }
  .right img{
    width: 510px;
    padding-right: 10%;
  }
  .left{
    padding-left: 14%;
    margin-top: 4%;
  }
  button{
    background-color: rgb(36, 136, 136);
    border-radius: 0 100px 100px 0;
    border: none;
    color: #fff;
    padding: 3% 8%;
    margin-top: 3%;
  }
  h1{
    color:  rgb(36, 136, 136);
  }
