<div class="container">
  <div class="row">
       <!-- -------------------------right ----------------------------- -->



    <div class="col-md-6  col-xs-12 right ">
      <img src='../../../assets/Assets/PNG images/offer.PNG'>
    </div>

        <!-- -------------------------left ----------------------------- -->
    <div class="col-md-6  col-xs-12 left ">
     <h1> What We Offer</h1>
    <p> We Offer you different Kinds of services <br>
     that will help you save your time and be   <br>
     more comfortable <br>


    </p>
    <button type="submit"> Our Services</button>
    </div>



    </div>
    </div>
